# Pandas and numpy - pair-up
### Discussion session

1. How will you read the following data into a pandas data frame ? 
 ` ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt`

In [13]:
import pandas as pd
import numpy as np
table = pd.read_csv("co2_2.csv", header=(None))
# decimal     average   interpolated    trend    #days
#             date                             (season corr)

In [14]:
table

        0   1         2       3       4       5   6
0    1958   3  1958.208  315.71  315.71  314.62  -1
1    1958   4  1958.292  317.45  317.45  315.29  -1
2    1958   5  1958.375  317.50  317.50  314.71  -1
3    1958   6  1958.458  -99.99  317.10  314.85  -1
4    1958   7  1958.542  315.86  315.86  314.98  -1
5    1958   8  1958.625  314.93  314.93  315.94  -1
6    1958   9  1958.708  313.20  313.20  315.91  -1
7    1958  10  1958.792  -99.99  312.66  315.61  -1
8    1958  11  1958.875  313.33  313.33  315.31  -1
9    1958  12  1958.958  314.67  314.67  315.61  -1
10   1959   1  1959.042  315.62  315.62  315.70  -1
11   1959   2  1959.125  316.38  316.38  315.88  -1
12   1959   3  1959.208  316.71  316.71  315.62  -1
13   1959   4  1959.292  317.72  317.72  315.56  -1
14   1959   5  1959.375  318.29  318.29  315.50  -1
15   1959   6  1959.458  318.15  318.15  315.92  -1
16   1959   7  1959.542  316.54  316.54  315.66  -1
17   1959   8  1959.625  314.80  314.80  315.81  -1
18   1959   9  1959.708  313.84  313.84  316.55  -1
19   1959  10  1959.792  313.26  313.26  316.19  -1
20   1959  11  1959.875  314.80  314.80  316.78  -1
21   1959  12  1959.958  315.58  315.58  316.52  -1
22   1960   1  1960.042  316.43  316.43  316.51  -1
23   1960   2  1960.125  316.97  316.97  316.47  -1
24   1960   3  1960.208  317.58  317.58  316.49  -1
25   1960   4  1960.292  319.02  319.02  316.86  -1
26   1960   5  1960.375  320.03  320.03  317.24  -1
27   1960   6  1960.458  319.59  319.59  317.36  -1
28   1960   7  1960.542  318.18  318.18  317.30  -1
29   1960   8  1960.625  315.91  315.91  316.92  -1
..    ...  ..       ...     ...     ...     ...  ..
705  2016  12  2016.958  404.45  404.45  405.14  30
706  2017   1  2017.042  406.17  406.17  405.88  26
707  2017   2  2017.125  406.46  406.46  405.66  26
708  2017   3  2017.208  407.22  407.22  405.74  23
709  2017   4  2017.292  409.04  409.04  406.22  25
710  2017   5  2017.375  409.69  409.69  406.30  27
711  2017   6  2017.458  408.88  408.88  406.57  26
712  2017   7  2017.542  407.12  407.12  406.72  28
713  2017   8  2017.625  405.13  405.13  407.01  29
714  2017   9  2017.708  403.37  403.37  406.94  26
715  2017  10  2017.792  403.63  403.63  407.00  27
716  2017  11  2017.875  405.12  405.12  407.12  26
717  2017  12  2017.958  406.81  406.81  407.50  31
718  2018   1  2018.042  407.96  407.96  407.67  29
719  2018   2  2018.125  408.32  408.32  407.52  28
720  2018   3  2018.208  409.41  409.41  407.92  30
721  2018   4  2018.292  410.24  410.24  407.42  21
722  2018   5  2018.375  411.24  411.24  407.84  24
723  2018   6  2018.458  410.79  410.79  408.47  29
724  2018   7  2018.542  408.71  408.71  408.30  27
725  2018   8  2018.625  406.99  406.99  408.87  30
726  2018   9  2018.708  405.51  405.51  409.08  29
727  2018  10  2018.792  406.00  406.00  409.37  30
728  2018  11  2018.875  408.02  408.02  410.02  24
729  2018  12  2018.958  409.07  409.07  409.76  30
730  2019   1  2019.042  410.83  410.83  410.53  27
731  2019   2  2019.125  411.75  411.75  410.95  27
732  2019   3  2019.208  411.97  411.97  410.48  28
733  2019   4  2019.292  413.32  413.32  410.49  26
734  2019   5  2019.375  414.66  414.66  411.26  28

[735 rows x 7 columns]

 
2. How would you pick columns 0,1,3 ?  
`[[0, 1, 3]]`

In [17]:
table.iloc[:,[0,1,3]]

        0   1       3
0    1958   3  315.71
1    1958   4  317.45
2    1958   5  317.50
3    1958   6  -99.99
4    1958   7  315.86
5    1958   8  314.93
6    1958   9  313.20
7    1958  10  -99.99
8    1958  11  313.33
9    1958  12  314.67
10   1959   1  315.62
11   1959   2  316.38
12   1959   3  316.71
13   1959   4  317.72
14   1959   5  318.29
15   1959   6  318.15
16   1959   7  316.54
17   1959   8  314.80
18   1959   9  313.84
19   1959  10  313.26
20   1959  11  314.80
21   1959  12  315.58
22   1960   1  316.43
23   1960   2  316.97
24   1960   3  317.58
25   1960   4  319.02
26   1960   5  320.03
27   1960   6  319.59
28   1960   7  318.18
29   1960   8  315.91
..    ...  ..     ...
705  2016  12  404.45
706  2017   1  406.17
707  2017   2  406.46
708  2017   3  407.22
709  2017   4  409.04
710  2017   5  409.69
711  2017   6  408.88
712  2017   7  407.12
713  2017   8  405.13
714  2017   9  403.37
715  2017  10  403.63
716  2017  11  405.12
717  2017  12  406.81
718  2018   1  407.96
719  2018   2  408.32
720  2018   3  409.41
721  2018   4  410.24
722  2018   5  411.24
723  2018   6  410.79
724  2018   7  408.71
725  2018   8  406.99
726  2018   9  405.51
727  2018  10  406.00
728  2018  11  408.02
729  2018  12  409.07
730  2019   1  410.83
731  2019   2  411.75
732  2019   3  411.97
733  2019   4  413.32
734  2019   5  414.66

[735 rows x 3 columns]

In [ ]:
3. Use a for loop to find all rows where 
Co2 (column 3) enteries with the value -99.99 (these are missing values) and replace them with NaN values (try using np.nan - do you know what it is? )

In [ ]:
4. Change names of columns to year, month, and CO2 (use colnames)

In [ ]:
5. Add a column 'Day' and specifiy the day 15 for all enteries

In [ ]:
6. Add a date column according to the 'year', 'month' and 'day' columns (options: use apply with lambda or for loop together with datetime.date (make sure to import it))

In [ ]:
7. Drop the 'Day' column

In [ ]:
8. use pandas groupby to print the yeaerly avg. of co2 per year.

In [ ]:
9. Pick columns that you think could be used to build a model and store them in numpy array (Answer why do we do that?)

In [ ]:
10. repeat step (3) but this time using the np.where command.

In [ ]:
11. Download the notebook as .py script and run it from your terminal.

In [ ]:
12. Create a branch in github repository called warm_up_draft

In [ ]:
13. push the notebook with the name CO2 to your new branch on github.